/* ******** */
/* Home Page */
/* ******** */


/* 99999999999999999 */
ul.icon {
  /* margin-top: -100px; */
  margin-top: 20px;
}
/* 999999999999999999999 */

/* jumbotron */

.jumbotron-fluid{
    height: 800px;
    background-image: url("../image/black-waves.jpg");
    font-family:  sans-serif;
}

/* name - bindhu sivanand */
.display-4{
  font-size: 72px;
  color: whitesmoke;
}

.lead{
  font-size: 14px;
  font-weight: 700;
}
 /* jumbotron Text */
h2, h2 {
  color: whitesmoke;
}
/* icon  position */
ul.icon {
  margin-top: -100px;
}


/* nav header */
#navbar-example2{
background-color: #d4572a;
margin-bottom: -8px; /* to remove the white space*/
}

/* header nav */
a{
  color: black;
}

/* Social icon jumbotron */
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    }

    .icon li{
    list-style: none;
    margin: 0 40px;
    
    }
    .icon li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    
    }
    .icon li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
    }
    .icon li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
    }
    .icon li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
    }
    .icon li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .icon li:hover .fa{
    color: #fff;
    }
    .icon li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .icon li:hover:nth-child(1) a{
    background: #3b5999;
    }
    
    .icon li:hover:nth-child(1) a:before{
    background: #2e4a86;
    }
    .icon li:hover:nth-child(1) a:after{
    background: #4a69ad;
    }
    .icon li:hover:nth-child(2) a{
    background: #55acee;
    }
    .icon li:hover:nth-child(2) a:before{
    background: #4184b7;
    }
    .icon li:hover:nth-child(2) a:after{
    background: #4d9fde;
    }
    .icon li:hover:nth-child(3) a{
    background: #dd4b39;
    }
    
    .icon li:hover:nth-child(3) a:before{
    background: #c13929;
    }
    .icon li:hover:nth-child(3) a:after{
    background: #e83322;
    }
    
    .icon li:hover:nth-child(4) a{
    background: #0077B5;
    }
    
    .icon li:hover:nth-child(4) a:before{
    background: #036aa0;
    }
    .icon li:hover:nth-child(4) a:after{
    background: #0d82bf;
    }

     /* ^ Social icon jumbotron  */
    

  
    /* ************/
     /* About Page */
     /* *********** */
    #about{
      padding: 75px 0;
    }
     #profileImg{
      /* margin-left: 40%; */
      margin-left: 425px;
      /* margin-left: 340px; */
     }

     .aboutText{
         text-align: center;
         margin-top: 20px;
         margin-bottom: 20px;
     }

     p{
      font-size: 20px;
         margin-bottom: 2em;
         line-height: 1.5em;
     }

     p {
      margin-top: 20px;
      margin-bottom: 1rem;
      text-align: center;
      margin-left: 70px;
      margin-right: 70px;
    }
   
     /* *************** */
     /* Project Page */
     /* **************** */

    /* GitHub button on project page, right side */
  #GitHub{
    margin-left: 50px;
    background-color: black;
  }

     /* Project title */
     #projects{
       text-align: center;
       margin-top: 20px;
       margin-bottom: 20px;
       padding: 75px 0;
     }

    /* project image holder */
     .card1 {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border-radius: .25rem;
      margin-right: 20px;
      margin-left: 60px;
  }
  
/* Project page background color */
#projectColor{
  background-color: #dca324;
 
}

/* Project name baner */
.imgtext{
    position: absolute;
    background-color: #607D8B;
    color: #ffffff;
    bottom: 15px;
    width: 300px;
    padding: 2%;
    font-weight: bold;
    font-size: 1.5em
    }

    /* GitHub button on Project page, right side */
    a.btn.btn-secondary.btn-sm.active {

    background-color: black;
  }

  /* GitHub button on Project page, right side */
  a.btn.btn-secondary.btn-sm.active {
    margin-top: 0px;
}

    
    /*Project image - hovereffect-bootstrap */
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        cursor: default;
        background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
        background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
      }
      
      .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        padding: 3em;
        text-align: left;
      }
      
      .hovereffect img {
        display: block;
        position: relative;
        max-width: none;
        width: calc(100% + 60px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
        transition: opacity 0.35s, transform 0.45s;
        -webkit-transform: translate3d(-40px,0,0);
        transform: translate3d(-40px,0,0);
      }
      
      .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        position: relative;
        font-size: 17px;
        background-color: transparent;
        padding: 15% 0 10px 0;
        text-align: left;
      }
      
      .hovereffect .overlay:before {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        border: 1px solid #fff;
        content: '';
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
        transition: opacity 0.35s, transform 0.45s;
        -webkit-transform: translate3d(-20px,0,0);
        transform: translate3d(-20px,0,0);
      }
      
      .hovereffect a, .hovereffect p {
        color: #FFF;
        /* opacity: 0; */
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
        transition: opacity 0.35s, transform 0.45s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
      }
      
      .hovereffect:hover img {
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
      
      .hovereffect:hover .overlay:before,
      .hovereffect:hover a, .hovereffect:hover p {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      } 
       /* ^ Project image - hovereffect-bootstrap */
    
    
      /* portfolio image hyerlink text -Psychi Game, Crystals Collecter Game,..... */
      .hovereffect:hover a{
          color: white;
      }
    
      /* Github button on image title */
      a.btn.btn-secondary.btn-sm.active{
          float: right;
          margin-right: 10px;
      }
    
  
      /* ************ */
      /* Skill Page */
      /* ************ */

      /* skill title */
      #skills{
        text-align: center;
        padding: 75px 0;
      }

      /* skill badge */
      .badgeSkill{
        float: left;
        float: left;
        margin-left: 100px;
        line-height: 90px;
      }

      /* skill div */
      #skillWith{
        /* height:400px ; */
        height:500px ;
      }

      /* nodejs */
      .badge-danger {
        color: #fff;
        background-color: #dc3545;
        margin-bottom: 30px;
    }
    /* **************** */
    /* Footer */
    /* **************** */
    #footer{
      /* height: 40px; */
      background-color: black;
      padding: 25px;
      }
      .footerlink{
        color:white;
        margin-left: 25px;
      }
      

    /* 00000000000000000000000000000000000000000000000000000000000000000000000000000 */

    @media screen and (max-width: 980px){
      #profileImg {
        /* margin-left: 320px; */
        margin-left: 230px;
        /* margin-left: 340px */
        /* margin-left: 40%; */
      }

      .card-deck{
        margin-left: 140px;
      }

      .icon{
        margin-top: 50px;
      }

       #skillWith{
         /* height:550px ; */
         height:600px ;
      
      }
    } 

 


    @media screen and (max-width: 768px){
      .icon{
        margin-top: 70px;
      }

      #profileImg{
        margin-left:120px;
       }

       .card-deck{
        margin-left: 50px;
       }
    }



    @media screen and (max-width: 640px){
      .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
          display: flex;  
          flex-direction: column-reverse;
      }

      .icon li a {
          position: relative;
          display: block;
          width: 80px;
          height: 80px;
          background-color: #fff;
          text-align: center;
          transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
          transition: .5s;
          box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
          margin-bottom: 30px;
      }

      /* Bindhu Sivanand & Full-Stack Web Developer */

      .display-4 {
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2;
      }


      #profileImg{
        margin-left:120px;
       }
       .imgtext {
        width: 450px;
       }
       .card-deck{
        margin-left: 14px;
       }

      
     }


     /* ******** */
     
      /* iPad Pro */
      /* @media screen and (max-width: 1024px){

       
        ul.icon{
          margin-top: -250px;
        }
        #profileImg{
          margin-left: 330px;
        }

        #skillWith {
          height: 500px;
      }
      .card-deck {
        margin-left: 70px;
    }
      } */

       /* iPad Pro in landscape */
       /* @media only screen and (min-device-width: 1112px) and (orientation: landscape){
        ul.icon {
          margin-top: -200px;
      }
      } */


      /* iPad */

      /* @media screen and (max-width: 768px){
        ul.icon {
          margin-top: -100px;
      }

      #profileImg {
        margin-left: 215px;
    }
    
    .card-deck {
      margin-left: 150px;
    }

    #skillWith {
    height: 570px;
    }
    }  */

      /* iPad in landscape */
      /* @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : landscape)  {
  ul.icon {
    margin-top: 100px;
}
} */

    
/* iPhone X */
@media screen and (max-width: 375px){
  ul.icon {
    margin-top: 70px;
}
img#profileImg {
  margin-left: 55px;
}

.card-deck {
  margin-left: -3px;
}
#skillWith {
  height: 950px;
}
}

/* iPhone X in landscape */
@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape)    {
  
      ul.icon {
    margin-top: 200px;
}

img#profileImg {
  margin-left: 210px;
}

.card-deck {
  margin-left: 150px;
}

div#skillWith {
  height: 550px;
}
}

/* iPhone 6/7/8 plus */
@media screen and (max-width: 414px){
  ul.icon {
    margin-top: 100px;
}
#profileImg {
  margin-left: 75px;
}

.card-deck {
  margin-left: 0px;
}
div#skillWith {
  height: 950px;
  margin-left: -10px;
}
}

/* iPhone 6/7/8 plus in landscape */
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 3) {
      ul.icon {
        margin-top: 300px;
    }

    img#profileImg {
      margin-left: 120px;
  }

  .card-deck {
    margin-left: 50px;
}
div#skillWith {
  margin-left: -20px;
}
    }



/* iPhone 6/7/8 */
@media screen and (max-width: 414px){
  ul.icon {
    margin-top: 140px;
}

#profileImg {
  margin-left: 50px;
}
}

/* iPhone 6/7/8 in landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
      ul.icon {
        margin-top: 300px;
    }

    img#profileImg {
      margin-left: 130px;
  }

  .card-deck {
    margin-left: 51px;
}

div#skillWith {
  margin-left: -50px;
}
    }


/* iPhone 5/SE */
@media screen and (max-width: 320px){

/* header nav  */
  ul.nav.nav-pills {
    margin-left: -20px;
}

ul.icon {
  margin-top: 230px;
}

img#profileImg {
  margin-left: 30px;
}

.card-deck {
  margin-left: -30px;
}

h1.badgeSkill {
  margin-left: 40px;
  height: 100px;
}
}

/* iPhone 5/SE in landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){

  .card-deck {
    margin-left: 25px;
}
}

/* Galaxy */
 @media screen and (max-width: 360px){
  img#profileImg {
    margin-left: 030px;
}
} 

/*pixe 2 XL in landscape */
/* @media only screen 
and (min-width: 823px) 
and (orientation: landscape) {
  ul.icon {
    margin-top: 200px;
}

img#profileImg {
  margin-left: 210px;
}

.card-deck {
  margin-left: 130px;
}

#skillWith {
  height: 600px;
}
} */

/*pixe 2  in landscape */
/* @media only screen 
and (min-width: 731px) 
and (orientation: landscape) {
  ul.icon {
    margin-top: 300px;
}

img#profileImg {
  margin-left: 120px;
}

.card-deck {
  margin-left: 50px;
}
} */